
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 30px 50px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
}

header h1 {
    margin: 0px;
    color: coral;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header a {
    text-decoration: underline;
    color: coral;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 2vw;
}

/* change link color on hover */
header li a:hover {
    background-color: cadetblue;
    color: white;
}

/* JUMBOTRON Section */
.jumbotron {
    background-image: url(/assets/images/water_blue.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.jumbotron h2 {
    margin: 0px;
    padding: 100px 100px 30px 100px;
    font-size: 38px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    color: coral;
    text-shadow:2px 2px 2px bisque;
    display:flex;
    justify-content: flex-end;
}

/* MAIN STYLE RULES */
.about-info, .project-info, .contact-info {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

.about-info h2, .project-info h2, .contact-info h2 {
    width: 20%;
    margin: 20px 0;
    padding: 25px;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: coral;
    border-right: slategray 3px solid;
    text-align: right;
    text-shadow: 2px 2px 2px bisque;
}

/* ABOUT ME Section */

.about-info h2 {
    float: left;
    line-height: 3;
}

.about-info .content {
    width: 75%;
    margin: 10px 0px;
    padding: 10px;
    font-size: 20px;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    float: right;
}

/* PROJECTS Section */

.project-info h2 {
    line-height: 3;
}

.project-info .content {
    width: 100%;
    margin: 10px 0px;
    padding: 25px;
    font-size: 16px;
    font-weight: bolder;
    float: left;
}

/* Beginning of Projects Grid */
.project-grid-container {
    display: grid;
    width: 75%;
    margin: 10px;
    padding: 10px;
    float: left;
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(4, 200px);
    grid-gap: 10px;
    grid-auto-flow: dense;
}

.project-item {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 5px auto;
    font-size: 35px;
    position: relative;
}

.project-item p {
    width: 95%;
    font-size: 18px;
    color: white;
    bottom: 15px;
    right: 20px;
    background-color: coral;
    position: absolute;
}

.item1 {
    background-image: url(/assets/images/Horiseon.gif);
    background-position: top;
    background-repeat: none;
    background-size: cover;
    grid-column: span 4;
    grid-row: span 2;
    transition: transform .2s;
}

.item2 {
    background-image: url(/assets/images/Run\ Buddy\ M.gif);
    background-position: top;
    background-repeat: none;
    background-size: cover;
    grid-column: span 2;
    grid-row: span 1;
}

.item3 {
    background-image: url(/assets/images/Run\ Buddy\ Web\ .gif);
    background-position: top;
    background-repeat: none;
    background-size: cover;
    grid-column: span 2;
    grid-row: span 1;
}

/* enarge gifs on hover */
.item1:hover, .item2:hover, .item3:hover {
    transform: scale(1.5);
}

/* CONTACT ME Section */
.contact-info h2 {
    line-height: 3;
}

.contact-details {
    margin: 60px 0 25px 0;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 2vw;
}

.contact-details a {
    color: black;
    text-decoration: underline;
    text-align: justify;
}

/* change color of link */
.contact-details a:hover {
    background-color: cadetblue;
    color: white;
}