.root {
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 50px 50px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
}

header h1 {
    margin: 0px;
    color: slategrey;
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header a {
    text-decoration: underline;
    color: coral;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 2vw;
}
/* General.section title styling */

.section-title {
    width: 25%;
    margin: 10px;
    padding: 25px;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: coral;
    display: flex;
    border-right: black 3px solid;
    text-align: right;
}

.content {
    width: 50%;
    height: auto;
    margin: 10px;
    padding: 25px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cadetblue;
    display: flex;

}


/* CONTACT ME SECTION */

.contact-info {
    width: 100%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    background-color:slategray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-details h2 {
    background-color: bisque;
}

.contact-details {
    margin: 25px 0;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 2vw;
    color: bisque;
    text-decoration: underline;
}

.contact-details a {
    color: black;
}