.root {
    Top-sizing: {width: 50%;height: 150px; margin: 0; padding: 20px 30px;}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 50%;
    height: 150px;
    margin: 0;
    padding: 20px 30px;
    background-color: lightskyblue;
    float: left;
}

.header h1 {
    width: 10%;
    color: whitesmoke;
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 2px rgba(192, 192, 192, 0.5);
}

/*.header h1 a:hover */{
    text-shadow: 0 0 2px rgba(192, 192, 192, 0.5);
}

nav {
    width: 50%;
    height: 150px;
    margin: 0px;
    padding: 20px 30px;
    background-color: slategray;
    float: left;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.nav ul li {
    width: 35%;
    float: right;
    display: inline-block;
    justify-content: flex-end;
}

/* General.section title styling */

.section-title {
    width: 25%;
    margin: 10px;
    padding: 25px;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: coral;
    display: flex;
    border-right: black 3px solid;
    text-align: right;
}

.content {
    width: 50%;
    height: auto;
    margin: 10px;
    padding: 25px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cadetblue;
    display: flex;

}